body {
  font-family: "Roboto", sans-serif;
  color: #424242;
}

a,
a:hover {
  color: inherit;
}

.navbar {
  border-bottom: 5px solid #dbdbdb;
  background: white;
}
.navbar-brand {
  margin: 0px 10px;
  text-transform: uppercase;
}
.navbar.dash_layout {
  position: relative !important;
}

nav .nav-link {
  color: #17a2b8;
  font-weight: bold;
}

.drawer_btn {
  color: #0062cc;
  cursor: pointer;
  margin-right: 10px;
}

.app_container {
  margin-top: 80px;
}

.root_loader {
  text-align: center;
  margin-top: 100px;
}

.fredoka_ff {
  font-family: Fredoka One;
}

.not_verified {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  text-align: center;
  background: red;
  color: white;
}
